body {
  min-width: 1200px;;
  font-family: "Cuprum", Tahoma, sans-serif;
  font-size: 17px;
  color: #ffffff;
  background-color: #ffffff;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active){
  position: absolute;
  
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.support-popup,
.map-popup,
.hidden-menu,
.gallery-item:last-child {
  display: none;
}

/* ШАПКА САЙТА */
.page-header {
  background-color: #f3f7f8;
}

.header-logo {
  width: 220px;
  padding: 13px 55px 11px 55px;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.header-logo img {
  display: block;
}

.header-top {
  background-color: #293449;
  min-height: 42px;
}

.header-top-container {
  display: flex;
  justify-content: space-between;
}

.search p {
  margin: 0;
  padding: 12px 0px 12px 39px;
}

.header-top-container input {
  color: #ffffff;
  border: none;
  background-color: #293449;
}

.header-top-container input:focus {
  background-color: #ffffff;
  color: #000000;
}

.header-top-container a {
  color: #ffffff;
}

.header-top-container .favourite-and-cart:active {
  color: #ffffff;
  opacity: 0.5;
  background-color: #161d29;
}

.header-logo:hover {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 0 #9a212a;
}

.header-logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.btn-order,
.favourite-and-cart {
  display: inline-block;
  min-height: 42px;
  width: 150px;
  padding: 12px 0;
}

.favourite {
  padding-left: 54px;
}

.cart {
  padding-left: 50px;
}

.btn-order {
  background-color: #63a63e;
  padding-left: 21px;
}

.btn-order:hover {
  background-color: #5fbb2d;
}

.page-header .btn-order:active {
  background-color: #518534;
}

.header-bottom .container {
  display: flex;
  flex-direction: column;
}

.header-bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 158px;
}

.header-bottom-container > p,
.header-bottom address,
.header-bottom .user {
  width: 300px;
}

.header-bottom .user a{
  display: block;
  line-height: 21px;
  font-size: 21px; 
  background-color: #ffffff;
}

.signin-link a{
  width: 121px;
  height: 45px;
  padding: 12px 27px 12px 48px;
  margin-right: 10px;
}

.signup-link a{
  width: 150px;
  height: 45px;
  padding: 12px 25px;
}

.visually-hidden > p,
.header-bottom-container > p {
  color: #ee3643;
  font-style: italic;
  line-height: 23px;
  font-size: 16px;  
}

.phone {
  width: 270px;
  height: 45px;
  padding: 12px 52px 12px 74px;
  color: #ee3643;
  line-height: 21px;
  font-size: 21px; 
  font-style: normal;
  border: 3px solid #ffffff;
}

.address {
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
}

.main-navigation {
  margin-bottom: 60px;
}

.main-menu-list {
  display: flex; 
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu-list li {
  flex-basis: auto;
  flex-grow: 1;
  text-align: center;
}

.main-menu-list a {
  display: block;
  height: 60px;
  padding-top: 21px;
  padding-bottom: 21px;
  font-size: 17px;
  line-height: 17px;
  background-color: #32425c;
  color: #ffffff;
}

.user {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}

.user a,
.main-menu-list a {
  color: #ffffff;
  list-style: none;
}

.main-menu-list a:hover {
  background-color: #293449;
}

.main-menu-list a:active {
  background-color: #1d2739;
  color: #ffffff;
  opacity: 0.5;
}

.user a {
  color: #000000;
}

.user a:hover {
  color: #ee3643;
}

.user a:active {
  color: #000000;
  opacity: 0.3;
}

.user-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-menu a {
  color: #000000;
}

.user-menu .user-panel {
  position: relative;
  width: 299px;
  height: 45px;
  background-color: #ffffff;
}

.user-menu .exit {
  position: absolute;
}

.user-panel a {
  font-size: 21px;
  line-height: 21px;
}

.user-menu .user-link {
  color: #32425C;
  text-decoration: underline;
}

.user-menu .user-link:hover {
  color: #ee3643;
}

.user-menu a:active {
  color: #000000;
  opacity: 0.3;
}

/* ПРЕВЬЮ САЙТА */

.preview {
  background-color: #ffffff;
  min-height: 468px;
  margin-bottom: 53px; 
}

.preview-container {
  display: flex;
  justify-content: space-between;
  padding-top: 59px;
}

.gallery {
  padding: 0;
  margin: 0;
  width: 620px;
}

.gallety-list img {
  position: relative;
}

.gallety-list * {
  position: absolute;
}

.gallety-list h3 {
  top: 27px;
  left: 24px;
}

.gallety-list p {
  top: 40px;
  left: 24px;
}

.open-catalog {
  bottom: 22px;
  left: 25px;
}

.btn-back {
  bottom: 150px;
  left: 25px;
}

.btn-next {
  bottom: 150px;
  right: 25px;
}

.preview-list,
.gallety-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.preview-list-left {
  display: flex;
  margin-bottom: 20px;
}

.preview-list-right {
  display: flex;
  flex-direction: column; 
}

.preview-list-right li {
  margin-bottom: 20px;
}

.preview-list li {
  width: 300px;
  height: 123px;
}

.preview-list h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
}

.preview-list a {
  width: 135px;
  height: 38px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}

.preview-list a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.preview-list a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.preview-list .preview-material {
  background-color: #ffbf47;
  margin-right: 20px;
}
.preview-material a {
  padding: 12px 24px 14px 24px;
}

.preview-list .preview-tools {
  background-color: #3bbce3;
}
.preview-tools a {
  padding: 14px 27px;
}

.preview-list .preview-technics {
  background-color: #dc91d8;
}
.preview-technics a {
  padding: 12px 31px 12px 30px; 
}

.preview-list .preview-sale {
  background-color: #8ed78f;
}
.preview-sale a {
  padding: 14px 23px 14px 24px;
}

.preview-list .preview-delivery {
  background-color: #ffc047;
}
.preview-delivery a {
  padding: 14px 37px;
}

/* ПОПУЛЯРНЫЕ ТОВАРЫ */
.goods-popular {
  min-height: 427px;
  margin-bottom: 21px;
}

.popular-title {
  width: 940px;
  min-height: 89px;
  background-color: #f9f5f0;
  margin-bottom: 20px;
}

.goods-popular h2 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.goods-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.goods-list h3 {
  font-family: "PT Sans", Tahoma, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
}

.btn-red {
  display: inline-block;
  height: 38px;
  font-size: 14px;
  line-height: 18px;
  padding: 10px 0;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
}

.btn-red:hover {
  background-color: #ca2c37;
}

.btn-red:active {
  background-color: #ba2732;
}

.goods-all {
  width: 253px;
  padding-left: 50px;
}

.manufacturer-all {
  width: 253px;
  padding-left: 70px;
}

.open-catalog {
  width: 195px;
  padding-left: 50px;
}

.btn-info {
  width: 220px;
  padding-left: 41px;
}

.btn-letter {
  width: 300px;
  padding-left: 64px;
}

.goods-item {
  width: 220px;
  height: 318px;
  border: 1px solid #E5E5E5;
}

.goods-item:hover {
box-shadow: 0px 10px 25px rgba(41, 52, 73, 0.5);
}

.goods-item img {
  width: 218px;
  height: 170px;
}

/* ПОПУЛЯРНЫЕ ПРОИЗВОДИТЕЛИ */
.manufacturer-popular {
  min-height: 419px;
  margin-bottom: 85px;
}

.manufacturer-popular h2 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.manufacturer-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.manufacturer-list li {
  width: 220px;
  height: 145px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
}

.manufacturer-item:hover {
  box-shadow: 0px 10px 25px rgba(41, 52, 73, 0.5);
}

.manufacturer-item:active {
  box-shadow: 0px 4px 10px rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

/* СЕРВИСЫ */
.services {
  color: #ffffff;
  background-color: #f4f7f9;
  min-height: 522px;
  padding-top: 54px;
}

.services h2 {
  margin: 0;
}

.services-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.services-preview {
  width: 400px;
}

.services-preview p {
  margin-bottom: 75px;
}

.services-descriprion {
  display: flex;
 
}

.services-items {
  width: 240px;
  padding: 0;
  margin: 0;
  margin-right: 80px;
  list-style: none;
}

.services-descriprion section {
  width: 280px;
}

.services h3 {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 25px;
}

.btn-services {
  width: 240px;
  height: 61px;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  background-color: #32425c;
  border: none;
}

.btn-services:hover {
  background-color: #293449;
}

.btn-services:focus {
  color: #32425c;
  background-color: #ffffff;
}

/* ОПИСАНИЕ И КОНТАКТЫ */
.index-columns-container {
  display: flex;
  justify-content: space-between;
  
  padding-top: 70px;
  padding-bottom: 86px;
}

.index-columns-container h2 {
  margin-top: 0;
}

.index-columns-container h2,
.services h2 {
  font-size: 30px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.index-columns-container p,
.services p {
  font-family: "PT Sans", Tahoma, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.about-us p {
  margin-bottom: 28px;
}

.about-us p:last-child {
  margin-bottom: 25px;
}

.about-us li {
  margin-bottom: 20px;
}

.about-us ul {
  margin-bottom: 35px;
}

.index-columns-container ul {
  list-style: none;
  font-size: 18px;
  line-height: 19px;
  color: #000000;
}

.about-us {
  width: 525px;
}

.contacts {
  width: 301px;
}

.contacts p {
  margin-bottom: 30px;
}

.contacts img {
  margin-bottom: 40px;
}


/* СЕРЕДИНА КАТАЛОГА */
.main-catalog {
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  min-height: 59px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.breadcrumbs a {
  margin-right: 43px;
  font-family: "PT Sans", Tahoma, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.main-catalog h1 {
  width: 940px;
  height: 89px;
  font-size: 30px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 20px;;
  color: #32425C;
  background-color: #f2f6f8;
}

.main-catalog .filters-catalog-flex {
  display: flex;
  justify-content: space-between;
}

/* Фильтры */
.filters,
.catalog {
  font-family: "PT Sans", Tahoma, sans-serif;
}

.filters {
  width: 220px;
}

.filters h2 {
  width: 220px;
  min-height: 38px;
  font-size: 13px;
  line-height: 18px;
  margin-top: 0;
  background-color: #f7f3ec;
}

.filter {
  line-height: 19px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-weight: bold;
}

.filter label {
  font-size: 15px;
  
}

.filter-btn {
  width: 140px;
  height: 38px;
  font-size: 13px;
  line-height: 18px;
  border: 1px solid #E5E5E5;
  background-color: #ffffff;
  text-transform: uppercase;
}

/* Сортировка */
.sorting {
  display: flex;
  width: 700px;
  min-height: 38px;
  background-color: #f7f3ec;
  margin-bottom: 20px
}

.sorting h2 {
  font-size: 13px;
  line-height: 18px;
}

.sorting ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sorting li,
.sorting ul {
  display: inline-block;
}

.sorting .sorting-item,
.sorting .arrow {
  font-size: 13px;
  line-height: 18px;
  color: #c5c5c5;
  border-bottom: 1px dotted #ee3643;
}

.sorting .sorting-item:hover,
.sorting .arrow:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sorting .sorting-item:focus,
.sorting .arrow:focus {
  color: #ee3643;
  border-bottom: none;
}

.sorting .arrow,
.sorting .arrow:hover {
  border-bottom: none;
}
/* Каталог */
.catalog {
  width: 700px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  padding-bottom: 26px;
  margin: 0;
}

.hidden-menu .btn {
  font-family: "Cuprum" Tahoma, sans-serif;
  width: 135px;
  height: 38px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
}

.btn-buy {
  background-color: #63a63e;
  box-shadow: inset 0 -3px 0 0 #367315;
}

.btn-buy:hover {
  background-color: #5fbb2d;
  box-shadow: inset 0 -3px 0 0 #367315;
}

.btn-buy:active {
  background-color: #518534;
  box-shadow: none;
}

.btn-add-favourite {
  background-color: #ffffff;
  color: #32425c;
  box-shadow: inset 0 0 0 3px #63a63e;
}

.btn-add-favourite:hover {
  box-shadow: inset 0 0 0 3px #32425c;
}

.btn-add-favourite:active {
  opacity: 0.3;
}

.catalog-item {
  width: 220px;
  height: 318px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #E5E5E5;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item:nth-child(n+7) {
  margin-bottom: 0;
}

.catalog-item:hover {
box-shadow: 0px 10px 25px rgba(41, 52, 73, 0.5);
}

.catalog-item img {
  width: 218px;
  height: 170px;
}

.catalog-list h3 {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-transform: none;
}

.price-old {
  font-size: 17px;
  line-height: 18px;
  color: #999999;
  text-decoration: line-through;
}

.price {
  width: 141px;
  height: 38px;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background-color: #EE3643;
}

.pagination-list {
  display: flex;
  justify-content: flex-start;
  list-style: none; 
  padding: 0;
  margin: 0;
  padding-top: 26px;
  padding-bottom: 60px;

}
.pagination-list a {
  display: block;
  font-family: "PT Sans", Tahoma, sans-serif;
  font-size: 13px;
  line-height: 18px;
  width: 38px;                                   
  height: 38px;
  margin-right: 10px;
  border: 1px solid #e5e5e5;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}


.pagination-item:last-child {
  width: 140px;
  height: 38px;
}

.pagination-list a:hover {
  border: 1px solid #bdc6ca;
}

.pagination-list a:active {
  border: 1px solid #ee3643;
}

.pagination-list a:focus {
  color: #ffffff;
  background-color: #ee3643;
  border: none;
}

/* О перфораторах */

.about-perforators {
  min-height: 261px;
  background-color: #f2f6f8;
  padding-top: 63px;
  padding-bottom: 72px;
}

.about-perforators h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 31px;
}

.about-perforators p {
  font-family: "PT Sans", Tahoma, sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-transform: none;
}

/* ПОДВАЛ САЙТА */
.main-footer {
  background-color: #32425c;
}

.main-footer-container:first-child {
  display: flex;
  justify-content: space-between;
}

.footer-contacts {
  width: 330px;
}

.footer-navigation {
  width: 550px;
}

.footer-logo {
  width: 220px;
  height: 68px;
  padding: 20px 41px 20px 41px;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
  margin-bottom: 30px;
}

.footer-logo .logo {
  width: 168px;
  height: 30px;
}

.main-footer a {
  color: #ffffff;
}

.footer-top {
  min-height: 193px;
  font-size: 18px;
  line-height: 24px;
}

.footer-address {
  font-style: normal;
}

.footer-navigation-over {
  margin-top: 38px;
  margin-bottom: 36px;
}

.footer-navigation-over a {
  margin-left: 60px;
}

.footer-navigation-under a {
  color: #ffda96;
  margin-left: 60px;
}

.footer-navigation-over,
.footer-navigation-under {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.footer-navigation-over a:hover,
.footer-navigation-under a:hover {
  text-decoration: underline;
}

.footer-navigation-over a:active,
.footer-navigation-under a:active {
  opacity: 0.5;
}

.footer-bottom {
  min-height: 107px;
  font-size: 16px;
  line-height: 18px;
  background-color: #293449;
}

.main-footer-container:last-child {
  display: flex;
  align-items: center;
}

.footer-bottom .main-footer-container {
  min-height: 107px;
}

.footer-bottom p:first-child {
  width: 240px;
  margin-right: 150px;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-right: 119px;
  min-width: 131px;
  list-style: none;
}

.social-btn {
  display: flex;
  width: 41px;
  height: 41px;
  border-radius: 238px;
  background-color: #212a3a;
}

.social-btn:hover,
.social-btn:active {
  background-color: #ee3643;
}

.footer-copyright:nth-child(2) {
  width: 140px;
  margin-right: 20px;
}

.footer-copyright:nth-child(3) {
  width: 140px;
}

.footer-copyright a {
  color: #ffda96;
}

.footer-copyright a:hover {
  text-decoration: underline;
}

.footer-copyright a:active {
  color: #EE3643;
  text-transform: none;
}
